.header {
  background: transparent;
  padding-top: 48px;
  padding-bottom: 24px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  &.scrolled {
    color: #4b3b36;
    background: #ffead8;
  }

  @include media(desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-menu {
  color: #4b3b36;
  background: #ffead8;
}

.header-container {
  padding: 0 42px;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;

  @include media(desktop) {
    justify-content: center;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 48px;
  }
}

.nav-list-link {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #ffead8;
  color: #4b3b36;

  transition: all 0.3s ease-in-out;

  &:hover,
  &.active {
    color: #4b3b36;
  }
}

.nav-list-link.active {
  color: #4b3b36;
}

.nav-btn {
  background-color: transparent;
  width: 48px;
  height: 48px;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  background-color: transparent;
  width: 48px;
  height: 48px;

  @include media(desktop) {
    display: none;
  }
}
